/* Importa da google fonts il font "ubuntu" */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

/* Applica delle impostazioni di formattazione base e selezizione il font ubuntu */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Ubuntu", sans-serif;
}

/* Seleziona l'immagine di bg per il body  e la riadatta al contenitore. Usa flex per giustificare al centro il box container. Da al body un'altezza minima pari alla viewport. */
body {
	background-image: url("img/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

/* Aggiunge un padding al "container" per centrare le sezioni interbe come nell'immagine di riferimento. Selezione uno sfondo nero con una trasparenza del 50%. Aggiunge un bordo arrotondato del 20% per renderlo più simile possibile alla reference. da delle proporzioni al container basate su una percentuale delle dimensioni del body */
.container {
	margin-top: 2rem;
	padding: 100px 100px 140px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	width: 75%;
	height: 75%;
}

/* Allinea il titolo e il logo e da il colore verde al font */
header {
	text-align: center;
	color: #00dd00;
}

/* ridimensiona il logo */
.logo {
	width: 25%;
}

/* Formattazione del testo del titolo principale*/
h1 {
	font-size: 35px;
	font-weight: 300;
	font-weight: bolder;
	margin: 5px 0px;
}

nav {
	background-color: #00dd00;
	text-align: center;
	padding: 10px;
}

/* Inserisce una spaziatura standard sopra ogni "monopattino" */
.monopattino {
	margin-top: 20px;
}

/* Seleziona ogni h2 e ogni p e da loro un margine superiore e colora di biancoil font */
h2,
p {
	color: white;
	margin: 5px 0px;
}

/* Aggiunge un piccolo margine a sx in h2 come nell'immagine */
h2 {
	margin-left: 5px;
}

/* Aggiunge prima del primo p dopo h2 il carattere speciale */
h2 + p:before {
	content: "\21A3";
}

/* Crea le finte barre di carica residua e trasforma la proprietà "block" in "inline-block" */
.charge {
	padding: 15px;
	border-radius: 5px;
	display: inline-block;
}

/* cambia il colore e la lunghezza delle barre di carica residua */
.med {
	background-color: #f5ba4e;
	width: 30%;
}

.max {
	background-color: #00dd00;
	width: 50%;
}

.min {
	background-color: #f54e4e;
	width: 10%;
}

/* Per i dispositivi con uno schermo di dimensioni massime 1000px riadatta le dimensioni di alcuni elementi */
@media only screen and (max-width: 1000px) {
	.container {
		margin-top: 2rem;
		padding: 100px 100px 140px;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 20px;
		width: 95%;
		height: 95%;
	}

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 3rem;
	}

	p {
		font-size: 2.5rem;
	}

	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	nav > button {
		font-size: 2rem;
		width: 75%;
	}
}
